
.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }
  
  body {
    /* background-color: #393E46; */
    background-image: url('/assets/image.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
  }

  .diceButton1, .diceButton2{
    height: 30px;
    width: 40%;
    border-radius: 10px;
    border: 0px;
    background-color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #EEEEEE;
    cursor: pointer;
  }

  .diceButton1:hover, .diceButton2:hover{
    background-color: rgb(255, 66, 66);
    color: #000;
  }